<div class="contents-t">
  <div class="article-box">
    <% @articles.each do |article| %>
      <article>
        <div class="article-image-box">
          <% if article.image.attached? %>  
            <%= image_tag article.image, class: 'article-image' %>  
          <% end %>  
        </div>
        <div class="article-main">
          <div class="article-title-box">
            <%= link_to article_path(article.id), method: :get, class: 'article-link' do %>
              <h1 class="article-title"><%= article.title %></h1>
            <% end %>
            <p class="article-create-t">投稿日:   <%= article.updated_at.strftime('%Y/%m/%d') %>
            <% if user_signed_in? %>
              　　<%= link_to '記事を編集', edit_article_path(article.id), method: :get %>
              <%= link_to '記事を削除', article_path(article.id), method: :delete, data: {confirm: "削除しますか？"} %>
              </p>
            <% end %>
          </div>
          <div class="article-text">
            <%= sanitize article.text, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img del table tr td em br strong div), attributes:  %w(id class href) %>
          </div>
          <div class="article-link-2">
            <%= link_to "記事を読む>>", article_path(article.id), method: :get, class: 'article-link'%>
          </div>
        </div>
      </article>
    <% end %>
    <%= paginate @articles %>
    
  </div>
  
  <div class="sideber">
    <div class="mini-prof">
      <img class="mini-prof-image" src="/assets/prof.PNG">
      <h2>Motoyuki</h2>
      <h5>プロフィール</h5>
      <p class="mini-prof-text">
        この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
      </p>
    </div>
    <a class="twitter-timeline" data-width="280" data-height="500" data-theme="light" href="https://twitter.com/Motoyuki_PinkS?ref_src=twsrc%5Etfw">Tweets by Motoyuki_PinkS</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>