<div class="contents-s">
  <div class="works">
    <p>〇下記のサイトにて過去の配信作品をご利用、お聴きいただけます<br>
<br>
<br>
　　<%= image_tag "do-va.jpeg", class: 'link-icon' %><%= link_to "DOVA-SYNDROME 作曲者ページ", "https://dova-s.jp/_contents/author/profile410.html", class: 'works-link' %><br>
<br>
　　<%= image_tag "youtube.png", class: 'link-icon' %><%= link_to "YouTube視聴ページ","https://www.youtube.com/playlist?list=PL2vyqKNLXiUrNUsMHO6eVvNo2N9N7Clvq", class: 'works-link' %><br>
<br>
　　<%= image_tag "nico.png", class: 'link-icon' %><%= link_to "ニコニコモンズ 作品ページ","http://commons.nicovideo.jp/user/1406089", class: 'works-link' %><br>
<br>
<br>
〇その他の制作楽曲などはこちら<br>
<br>
　　<%= image_tag "youtube.png", class: 'link-icon' %><%= link_to "YouTubeチャンネル「Motoyuki Music channel」","https://www.youtube.com/channel/UCgO3JXdwwnw20KhJavPobrA", class: 'works-link' %><br>
<br>
　　<%= image_tag "sc.png", class: 'link-icon' %><%= link_to "SoundCloud", "https://soundcloud.com/user-701145389", class: 'works-link' %></p>
  </div>  
</div>  