<!DOCTYPE html>
<html>
  <head>
    <title>Motoyuki Sounds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'style' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <img class="logo" src="/assets/logo.PNG" alt="title">
    </header>
    <nav>
      <ul>
        <li class="main-nav"><%= link_to 'Top', '/' %></li>
      　<li class="main-nav"><%= link_to 'Profile', profile_path(1) %></li>
      　<li class="main-nav"><%= link_to 'Works', '/works' %></li>
      　<li class="main-nav"><%= link_to 'Contact', '/contacts' %></li>
      </ul>
    </nav>
    
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
          <li class=""><%= link_to 'Top', '/' %></li>
        　<li class=""><%= link_to 'Profile', profile_path(1) %></li>
        　<li class=""><%= link_to 'Works', '/works' %></li>
        　<li class=""><%= link_to 'Contact', '/contacts' %></li>
      </div>
    </div>
      
    <%= yield %>
    
    <footer>
      <p class="copyright">© 2020 Motoyuki</p>
      
    </footer>
  </body>
</html>
