<!DOCTYPE html>
<html>
  <head>
    <title>Motoyuki Sounds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'style' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img class="logo" src="/assets/logo.PNG" alt="title">
    </header>
    <nav>
      <ul>
        <li class="main-nav"><%= link_to 'Top', '/' %></li>
      　<li class="main-nav"><%= link_to 'Profile', profile_path(1) %></li>
      　<li class="main-nav"><%= link_to 'Works', '/works' %></li>
      　<li class="main-nav"><%= link_to 'Contact', '/contacts' %></li>
      </ul>
    </nav>
      
    <%= yield %>
    
    <footer>
      <p class="copyright">© 2020 Motoyuki</p>
      
    </footer>
  </body>
</html>
