<!DOCTYPE html>
<html>
  <head>
    <title>Motoyuki Sounds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'style' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img class="logo" src="/assets/logo.PNG" alt="title">
    </header>
    <nav>
      <ul>
        <li><%= link_to 'トップページ', '/' %></li>
      　<li><%= link_to 'プロフィール', '' %></li>
      　<li><%= link_to '作品一覧', '' %></li>
      　<li><%= link_to 'お仕事依頼', '' %></li>
      </ul>
    </nav>
      
    <%= yield %>
    
    <footer>
      <p class="copyright">© 2020 Motoyuki</p>
      <% if user_signed_in? %>
        <%= link_to '記事投稿', '/articles/new' %>
        <%= link_to 'ログアウト', '/users/sign_out' %>
      <% else %>
      <% end %>
    </footer>
  </body>
</html>
